* {
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}
.App {
	margin: auto;
	z-index: 1;
	position: relative;
}

.players {
	display: flexbox;
	margin: auto;
	margin-top: 7em;
	flex-wrap: nowrap;
}

.player_container {
	margin: 0.5em;
	display: inline-flex;
	flex-direction: column;
	border-radius: 0.5em;
	border: transparent;
	border-style: solid;
	backdrop-filter: blur(8px);
}
.player_container_on {
	display: inline-flex;
	flex-direction: column;
	border-radius: 0.5em;
	border: #ffffff;
	border-style: solid;
	margin: 0.5em;
	backdrop-filter: blur(8px);
}
.player_container_off {
	display: inline-flex;
	flex-direction: column;
}

.player {
	width: 10.5em;
	height: fit-content;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.5em;
}
.info {
	margin: auto;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
}
.nr {
	margin-top: 0.3em;
	padding-bottom: 0.2em;
}
.name {
	margin-top: 0.2em;
}

.points {
	color: #ffffff;
	font-size: 4em;
	margin: auto;
}

.timer {
	background-color: rgba(0, 0, 0, 0.5);
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 13em;
	width: 100%;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20%;
	backdrop-filter: blur(8px);
}

.life {
	display: inline-flex;
	width: 2.5em;
	height: 4em;
	background-color: #47b62b;
	border-radius: 0.2em;
	margin: 0.2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.no-life {
	display: inline-flex;
	width: 2.5em;
	height: 4em;
	border-radius: 0.2em;
	margin: 0.2em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #474747;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 0;
}
