* {
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}
.App {
	margin: auto;
	z-index: 1;
	position: relative;
}

.players {
	display: flexbox;
	margin: auto;
	margin-top: 7em;
	flex-wrap: nowrap;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 0;
}
