body {
	background-color: rgb(1, 4, 37);
}
header {
	height: 2em;
	background-color: rgba(0, 0, 0, 0.5);
}

footer {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2em;
}

* {
	margin: 0;
	padding: 0;
	text-align: center;
}
.container {
	overflow: hidden;
	margin: auto;
}

.players {
	display: flexbox;
	margin: auto;
	margin-top: 7em;
}

.player_container {
	margin: 0.5em;
	display: inline-flex;
	flex-direction: column;
}
.player {
	width: 10em;
	height: 15em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 1em;
}
.info {
	margin: auto;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 5em;
	margin-top: 0.4em;
}

.points {
	margin-top: 0.5em;
	width: 10em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 1em;
}
.points p {
	color: #ffffff;
	font-size: 2em;
	margin: auto;
	padding: 0.2em;
}

.timer {
	background-color: rgba(0, 0, 0, 0.342);
	padding: 0.5em;
	margin: auto;
	margin-top: 2em;
	width: fit-content;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 4em;
	border-radius: 0.5em;
	width: 3em;
}

.live {
	display: inline-flex;
	width: 2.5em;
	height: 4em;
	background-color: #47b62b;
	border-radius: 0.2em;
	margin: 0.2em;
	margin-top: 1em;
}

.no-live {
	display: inline-flex;
	width: 2.5em;
	height: 4em;
	background-color: #292929;
	border-radius: 0.2em;
	margin: 0.2em;
	margin-top: 1em;
}
